section.width-container.contacts-and-map__layout
  h2.block-title.first-letter_yellow Контакты
  .contacts-and-map__wrapper
    .contacts
      img(src="static/img/medium_logo.svg", alt="Логотип Мастер-сервис").logo
      each office in mappedOffices
        .contact__item
          .address=office.fullAddress
          .phone 
            a(href=`tel:${office.fullTel}`)=office.fullTel
          .schedule=office.workingHours
          .locationLat=office.locationLat
          .locationLon=office.locationLon
    #mapid
script(src="static/scripts/mapInit.js")

  
