header
  .desktop-header
    .width-container.header__main-info
      .header__contact-block
        .phone 
          a(href=`tel:${mappedOffices[0].fullTel}`)= mappedOffices[0].tel
        .address= mappedOffices[0].address
      a(href='/')
        img.header__contact-block(
          src='static/img/main_logo.svg' 
          alt="Логотип Мастер-сервис"
        )
      .header__contact-block
        .phone 
          a(href=`tel:${mappedOffices[1].fullTel}`)= mappedOffices[1].tel
        .address= mappedOffices[1].address
  nav
    .width-container.desktop-menu
      ul.desktop-navbar__layout
        li.desktop-navbar__item
          a(href='/') Главная
        li.desktop-navbar__item.desktop-navbar__item-dropdown
          span Услуги
          .services
            ul
              each service in mappedServices
                li
                  img(src="static/img/shevron.svg", alt="Шеврон пункта меню")
                  a(href=`/service/${service.id}`)= service.title
        li.desktop-navbar__item
          a(href='/car-parts') Запчасти
        li.desktop-navbar__item
          a(href='/corporate') Юр.лицам
        li.desktop-navbar__item
          a(href='/contacts') Контакты
      include ./messengers
    .width-container.mobile-menu
      .mobile-menu__layout
        div
          img(src="static/img/hamburger.svg", alt="Кнопка вызова меню")#menu-toggler
          span Меню
        div.mobile-menu__socials
         a(href='href="https://vk.com/ptz_auto"')
          img(src="static/img/vk_gray.svg", alt="ВКонтакте")
         a(href='href="https://vk.com/ptz_auto"')
          img(src="static/img/instagram_gray.svg", alt="Инстаграм")
      ul.mobile-navbar
        li
          a(href='/') Главная
        li
          span Услуги
          .services
            ul
              each service in mappedServices
                li 
                  a(href=`/service/${service.id}`)= service.title
        li
          a(href='/car-parts') Запчасти
        li
          a(href='/corporate') Юр.лицам
        li
          a(href='/contacts') Контакты
include ./officePopup
script.
  const modal = document.getElementById('office-popup');
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.classList.remove('show');
    }
  };

  function showPopup() {
    modal.classList.add('show');
  }
