html(lang="ru")
head
  title Автосервис Мастер
  meta(charset="utf-8")
  meta(name='description', content='Станция технического обслуживания легковых автомобилей "Мастер"')
  meta(name='keywords', content='СТО, автосервис, Мастер, ремонт автомобилей, шиномонтаж')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  style
    include ../static/styles/index.css
body
  include ./modules/header
  main.service
    include ./modules/CTASection
    .width-container
      .content-card__layout
        .content-card__title.content-card__title_left
          img(src=serviceItem.icon, alt="Иконка услуги")
          h1.block-title= serviceItem.title
        .content-card__content    
          .service-description__layout
            img(src=serviceItem.image, alt="").service-description__img
            .service-description__info
              .sub-title Стоимость: #{serviceItem.cost}
                span.currency ₽
              .divider 
              p.service-description__info__text= serviceItem.text
              div.service-description__info__availability
                span.title Доступна:
                span.address Ветеринарный, 13а
                span.address Правды, 28
          !=serviceItem.description
    include ./modules/infoDividerSection
    include ./modules/contactsAndMapSection
  include ./modules/footer
  script(src='static/scripts/common.js')